<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylf.user.daoAPI.LeaveMapper">
    <resultMap id="BaseResultMap" type="com.ylf.user.entity.Leave">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="groupName" jdbcType="VARCHAR" property="groupname"/>
        <result column="startTime" jdbcType="DATE" property="starttime"/>
        <result column="markTime" jdbcType="TIME" property="marktime"/>
        <result column="days" jdbcType="VARCHAR" property="days"/>
        <result column="clazzName" jdbcType="VARCHAR" property="clazzname"/>
        <result column="u_id" jdbcType="VARCHAR" property="uId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="startt" jdbcType="DATE" property="startt"/>
        <result column="endt" jdbcType="DATE" property="endt"/>
        <result column="userReason" jdbcType="VARCHAR" property="userreason"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="teacherSay" jdbcType="VARCHAR" property="teachersay"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, groupName, startTime, markTime, days, clazzName, u_id, username, startt, endt,
        userReason, state, teacherSay
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from askLeave
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectUserLeave" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from askLeave where u_id=#{uId}
    </select>
    <select id="isLegalLeave" parameterType="com.ylf.user.entity.Leave" resultMap="BaseResultMap">
        select * from askLeave where u_id=#{uId} and groupName=#{groupname} and startTime=#{starttime}
        and markTime=#{marktime} and days=#{days} and startt=#{startt,jdbcType=DATE} and endt=#{endt,jdbcType=DATE} and
        clazzName=#{clazzname}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from askLeave
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.ylf.user.entity.Leave">
        insert into askLeave (id, groupName, startTime, markTime, days, clazzName, u_id, username, startt, endt,
        userReason, state, teacherSay)
        values (#{id,jdbcType=VARCHAR}, #{groupname,jdbcType=VARCHAR}, #{starttime,jdbcType=DATE},
        #{marktime,jdbcType=TIME}, #{days,jdbcType=VARCHAR}, #{clazzname,jdbcType=VARCHAR},
        #{uId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{startt,jdbcType=DATE},
        #{endt,jdbcType=DATE}, #{userreason,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER},
        #{teachersay,jdbcType=VARCHAR})
    </insert>
    <update id="updateArgee" parameterType="java.lang.String">
        update askLeave set state=1,teacherSay='同意' where id=#{id}
    </update>
    <update id="updateUserSign" parameterType="com.ylf.user.entity.Leave">
        update sign set state=2 where signDate&gt;=#{startt,jdbcType=DATE} and signDate&lt;=#{endt,jdbcType=DATE} and
        u_id=#{uId} and groupName=#{groupname} and startTime=#{starttime,jdbcType=DATE} and
        markTime=#{marktime,jdbcType=TIME} and
        days=#{days} and clazzName=#{clazzname}
    </update>
    <update id="updateNoArgee" parameterType="com.ylf.user.entity.Leave">
        update askLeave set state=0,teacherSay=#{teachersay} where id=#{id}
    </update>
    <select id="selectList" resultMap="BaseResultMap">
        select * from askLeave;
    </select>
</mapper>