<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylf.manage.daoAPI.SignMapper" >
  <resultMap id="BaseResultMap" type="com.ylf.manage.entity.Sign" >
    <id column="u_id" property="uId" jdbcType="VARCHAR" />
    <id column="groupName" property="groupname" jdbcType="VARCHAR" />
    <id column="signDate" property="signdate" jdbcType="DATE" />
    <id column="markTime" property="marktime" jdbcType="TIME" />
    <id column="startTime" property="starttime" jdbcType="DATE" />
    <id column="days" property="days" jdbcType="VARCHAR" />
    <result column="clazzName" property="clazzname" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    u_id, groupName, clazzName, signDate, state, markTime, startTime, days
  </sql>


  <insert id="insert" parameterType="com.ylf.manage.entity.Sign" >
    insert into sign (u_id, groupName, clazzName, 
      signDate, state, markTime, startTime, days)
    values (#{uId,jdbcType=VARCHAR}, #{groupname,jdbcType=VARCHAR}, #{clazzname,jdbcType=VARCHAR}, 
      #{signdate,jdbcType=DATE}, #{state,jdbcType=INTEGER}, #{marktime,jdbcType=TIME}, #{starttime,jdbcType=DATE},#{days,jdbcType=VARCHAR})
  </insert>

  <select id="selectUserSign" parameterType="com.ylf.manage.entity.Sign" resultMap="BaseResultMap">
    select * from sign where u_id=#{uId} and signDate=#{signdate}
  </select>

  <select id="selectUserAttendPlan" parameterType="java.lang.String" resultMap="BaseResultMap">
    select distinct groupName,startTime,clazzName,markTime,days from sign where u_id=#{uId}
  </select>

  <select id="selectUserSignList" parameterType="com.ylf.manage.entity.Sign" resultMap="BaseResultMap">
    select * from sign where u_id=#{uId} and groupName=#{groupname} and startTime=#{starttime,jdbcType=DATE}
    and markTime=#{marktime,jdbcType=TIME} and days=#{days} and clazzName=#{clazzname} and signDate&lt;=#{selecttime}
  </select>
</mapper>