<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylf.manage.daoAPI.TeacherMapper">
    <resultMap id="BaseResultMap" type="com.ylf.manage.entity.Teacher">
        <id column="t_id" property="tId" jdbcType="VARCHAR"/>
        <result column="teacherName" property="teachername" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        t_id, teacherName, password, phone
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from teacher
        where t_id = #{tId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from teacher
        where t_id = #{tId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.ylf.manage.entity.Teacher">
        insert into teacher (t_id, teacherName, password,
        phone)
        values (#{tId,jdbcType=VARCHAR}, #{teachername,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.ylf.manage.entity.Teacher">
        insert into teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tId != null">
                t_id,
            </if>
            <if test="teachername != null">
                teacherName,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="phone != null">
                phone,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tId != null">
                #{tId,jdbcType=VARCHAR},
            </if>
            <if test="teachername != null">
                #{teachername,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateTeacher" parameterType="com.ylf.manage.entity.Teacher">
        update teacher
        <set>
            <if test="teachername != null and teachername !=''">
                teacherName = #{teachername,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password !=''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone !=''">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
        </set>
        where t_id = #{tId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ylf.manage.entity.Teacher">
        update teacher
        set teacherName = #{teachername,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR}
        where t_id = #{tId,jdbcType=VARCHAR}
    </update>
</mapper>